@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__lifestyle/profile__lifestyle.css);
@import url(./__editButton/profile__editButton.css);

.profile{
  max-width: 882px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
}
