.popup__fullsize-img-caption{
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-top: 10px;
  -moz-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  -webkit-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  -o-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  -ms-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
}
