@import url(./_status/overlay_status_hide.css);
@import url(./_status/overlay_status_seen.css);
.overlay{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
