.profile__editButton{
  background: no-repeat url(../../../images/editButton.svg);
  width: 24px;
  height: 24px;
  border-style: none;
}

.profile__editButton:hover{
  opacity: .6;
  cursor: pointer;
}
