.profile__editButton{
  background: no-repeat center url(../../../images/editButton.svg);
  width: 24px;
  height: 24px;
  align-self: center;
  margin-top: 5px;
  border: 1px solid #fff;
  box-sizing: border-box;

}

.profile__editButton:hover{
  opacity: .6;
  cursor: pointer;
}

.popup__editButton:focus{
  outline: none;
}



@media screen and (max-width: 540px){
  .profile__editButton{
    width: 18px;
    height: 18px;
  }
}
