.popups_hidden{
  visibility: hidden;
  opacity:0;
  -moz-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  -webkit-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  -o-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  -ms-transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
}
